/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


/* <!-- Google Font: Red Hat Display -->
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700;900&display=swap" rel="stylesheet"> */


/* CSS variables */
:root {
    --primary-font: 'Red-Hat-Display', sans-serif;
    --secondary-font: 'Ephesis', sans-serif;

    --primary-color: #E7ECEF;
    /* Platinum */
    --secondary-color: #274C77;
    /* dask blue */
    --background-color: lightgray;
}


/* Global styles */


body {
    background-color: lightgray;
}




/* navbar styles */

nav {
    background-color: lightgray;
}

.navbar-custom {
    color: #3B2F2F;
}

.navbar-custom .nav-link {
    color: #3B2F2F;
}

.navbar-custom .nav-link.active {
    font-weight: bold;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}



/* Hero background + overlay styles */
.hero {
    /* background: url('assets/images/hero.jpg') no-repeat center center; */
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/hero.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    min-height: 60vh;
    display: flex;
    align-items: center;
}

/* hero text color and heading font */
.hero h1 {
    font-family: 'Red Hat Display', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
    font-weight: 700;
    color: #E7ECEF;
}

.hero p.lead {
    color: #E7ECEF;
    opacity: 0.95;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
    z-index: 0;
}

.hero .container,
.hero .text-center {
    position: relative;
    z-index: 1;
}

.btn {
    color: #3B2F2F;
}



/* footer styles */




/* grid visualisation CSS for testing */

/* .container, .row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
} */