/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


/* CSS variables */
:root {
    --primary-font: 'Red-Hat-Display', sans-serif;
    --secondary-font: 'Ephesis', sans-serif;

    --primary-color: #E7ECEF; /* Platinum */
    --secondary-color: #274C77; /* dask blue */
    --highlight-color: #6096ba; /* Steel Blue */
    --highlight-color-light: #a3cef1; /* Icy Blue*/
    --footer-color:#8b8c89; /*Grey Olive */
    --navbar-color: #4a5c72;
    --background-color: lightgray;
}


/* Global styles */
/* body {
    font-family: var(--primary-font);
    /* padding-top: 57.15px; pushes the top of the header down under fixed navbar */
    /* background-color: var(--primary-color); */
    /* background-color: var(--background-color);  */
    /* margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333; */
/* } */ 


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: var(--primary-font);
    /* background: hotpink !important; */
}


h1, h2, h3 {
    font-family: var(--secondary-font); 
    color: var(--secondary-color);
}

.sub-heading-color {
    color: var(--secondary-color);
}

/* header */
/* #header {
    background:url(../images/home-page.jpg) no-repeat center center/cover;
    height: 1000px; /*  o 600px con la otra foto */
    /* width: 100%;
    position: relative;
} */ 


header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}


#menu {
    letter-spacing: 4px;
    font-size: 110%;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}


#cover-photo {
    background:url(../images/home-page.jpg) no-repeat center center/cover;
    height: 1000px; /*  o 600px con la otra foto */
    width: 100%;
    position: relative;   
}

#cover-text {
    background-color: transparent;
    font-size: 130%;
    position:absolute;
    bottom: 150px;
    width: 20%;
    min-height: 250px;
    padding-top: 40px;
    padding-left: 50px;
}

#cover-text > h2, #cover-text > h3 {
    color: #ffffff;
    font-size: 200%;
}


/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0px;
    padding: 0 1rem;
    /* box-shadow: 0 2px 2px #3a3a3a; */
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}



main {
    /* Make main element take up any surplus to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}


/* #navbar {
    /* background-color: #274C77; */
    /* background-color: var(--navbar-color); */
    /* background-color:#606374; */
    /* background-color: var(--background-color); */
    /* background:url(../images/happy-clients-5.jpg) no-repeat center center/cover; */
    /* color: var(--secondary-color); */
    /* color: #3b2f2f; */
    /* position: sticky; */
/* } */


.navbar-custom .nav-link {
    color: #3B2F2F;
}

.navbar-custom .nav-link.active {
    font-weight: bold;
}

.navbar {
    position: sticky;
    /* top: 0;
    z-index: 1000; */
}

#navbar .logo {
    width: 40px;
    height: 40px;
} */


/* Happy Clients */

#carouselContent {
    background: url(../images/happy-clients-5.jpg) no-repeat center/cover;
    width: 100%;
    height: 200px;
    color: var(--secondary-color);
    /* Handles responsivity without the need for a media query */
    /* display: flex;
    flex-wrap: wrap; */
}

.carousel-item {
    width: 75%;
}


/* Footer / contact */
#contact {
    /* background-color: var(--footer-color); */
    /* background-color: var(--navbar-color); */
    background-color: var(--background-color);
    color: white;
    padding-bottom: 3rem;
}


#navbar .logo {
    width: 40px;
    height: 40px;
}


#contact .logo {
    width: 100px;
    height: 100px;
    color: var(--background-color);
}



/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
    }

    /* Home image */
    #cover-text {
        width: 300px;
        left: 50px;
    }  
}



/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover{
        border-bottom: 1px solid #3a3a3a;
    }
}


/* grid visualisation CSS for testing */

/* .container, .row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
} */